**/node_modules
**/*.ts
server/logging
server/logging_macro
server/main
server/target
server/.gitignore
server/Cargo.lock
server/Cargo.toml
server/Makefile
**/*.js.map
.vscode
*.dot
*.py
.gitignore
**/*.yml
**/*.txt